server/manga/*
server/dist/*
server/build/*
server/target/*

.idea
.DS_STORE
*.log


front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/node_modules
front/public/*
front/dist
front/coverage
