server/manga/*
dist/*
build/*
target/*
*/target/*
.idea
.DS_STORE
*.log


front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/node_modules
front/public/*
front/dist
front/coverage
/data/

.checkstyle
.classpath
.project
.settings
.sonar-ide.properties

.idea/
*.iml
.DS_store
